*{
    box-sizing: border-box;     margin: 0;
    padding: 0;
}


/* section:hover
{
  cursor: pointer;
} */

.cart
{
    margin: 10px;
    size: 10px;
}
.Icons
{
    display: flex;  align-items: center;  justify-content: space-evenly;  width: 20%;  height: 80%;  margin-top: 10px;
}

.Icons > div
{
    font-size: 15px;  text-align: center;
}

.Icons > p
{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;  font-weight: bold;  margin-right: 3px;     color: rgb(53,53,53);
}


#footer{

    height: 500px;
    width: 100%;
    background-color: rgb(250,251,252);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 10px rgb(234,234,236);
    padding-top: 40px;
  
  }
  #footer>article{
    height: 90%;
  /* background-color: rgb(250,251,252) */
    width: 85%;
    display: flex;
    align-items: center;
  }
  
  
  
  
  #footer>article>.os{
    width: 20%;
    height: 100%;
    line-height: 20px;
  }
  #footer>article>.os>ol>li{
    list-style-type: none;
  }
  
  #footer>article>.os>ol>li>a{
    text-decoration: none;
    color: rgb(156,153,146);
  }
  
  
  
  
  
  #footer>article>.cp{
    width: 20%;
    height: 100%;
  
  }
  #footer>article>.cp>ol>li{
    list-style-type: none;
  }
  
  #footer>article>.cp>ol>li>a{
    text-decoration: none;
    color: rgb(156,153,146);
  }
  
  
  
main a
{
    font-size: 14px;     font-weight: bold;

      letter-spacing: 3px;   word-spacing: 3px;text-transform: uppercase;  color: black;
}
  
  
  
  
  
  
  #footer>article>.exp{
    width: 40%;
    height: 100%;
  
  }
  
  .exp>.exphd1{
    height: 10%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  .exp>.exphd1>p{
    font-size: 15px;
    margin-left: -10px;
    margin-top: -17px;
  
    color: rgb(156,153,146);
  
  
  }
  
  .expimg{
    height: 30%;
    width: 50%;
    display: flex;
  justify-content: center;
    align-items: center;
  }
  .expimg>a{
    display: flex;
  
  
    height: 30%;
    width: 50%;
  }
  .expimg>a>img{
    height: 100%;
    width: 100%;
  }
  .exp>.exphd2>p{
    color: rgb(156,153,146);
    font-size: 15px;
  }
  
  .expicons{
    height: 10%;
    width: 10%;
    word-spacing: 10px;
    display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  }
  
  .expicons>a{
    display: flex;
  justify-content: center;
  align-items: center;
  
    height: 100%;
    width: 100%;
  }
  .expicons>a>img{
    height: 70%;
    width: 10%;
  }
  
  
  
  #footer>article>.rp{
    width: 40%;
    height: 100%;
  
  }